<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <a class="Livros" href="Página-Inicial.html">Livros</a>
        <a class="Cadastrar" href="Cadastro.html">Cadastrar</a>
        <hr class="Barra">
    </header>

    <main>
        <div class="Caixa-1">
            <p class="Titulo-L">Nome do livro</p>
            <p class="Descrição">Lorem Ipsum is DESCRIÇÃO DO LIVRO he printing and typesetting Industry. Lorem Ipsum has been the industry's standard dummy text ever since th</p>
            <p class="Categoria">Categoria</p>
            <p class="Preço">R$50,00</p>
            <a href="Detalhes.html">
                <button class="Detalhes">Ver detalhes</button> 
            </a>
            <a href="Editar.html">
                <button class="Editar">Editar</button>
            </a>
            <a href="Página-Inicial.html">
                <button class="Excluir">Excluir</button>
            </a>
        </div>

        <div class="Caixa-2">
            <p class="Titulo-L">Nome do livro</p>
            <p class="Descrição">Lorem Ipsum is DESCRIÇÃO DO LIVRO he printing and typesetting Industry. Lorem Ipsum has been the industry's standard dummy text ever since th</p>
            <p class="Categoria">Categoria</p>
            <p class="Preço">R$50,00</p>
            <a href="Detalhes.html">
                <button class="Detalhes">Ver detalhes</button> 
            </a>
            <a href="Editar.html">
                <button class="Editar">Editar</button>
            </a>
            <a href="Página-Inicial.html">
                <button class="Excluir">Excluir</button>
            </a>
        </div>

        <div class="Caixa-3">
            <p class="Titulo-L">Nome do livro</p>
            <p class="Descrição">Lorem Ipsum is DESCRIÇÃO DO LIVRO he printing and typesetting Industry. Lorem Ipsum has been the industry's standard dummy text ever since th</p>
            <p class="Categoria">Categoria</p>
            <p class="Preço">R$50,00</p>
            <a href="Detalhes.html">
                <button class="Detalhes">Ver detalhes</button> 
            </a>
            <a href="Editar.html">
                <button class="Editar">Editar</button>
            </a>
            <a href="Página-Inicial.html">
                <button class="Excluir">Excluir</button>
            </a>
        </div>

        <div class="Caixa-4">
            <p class="Titulo-L">Nome do livro</p>
            <p class="Descrição">Lorem Ipsum is DESCRIÇÃO DO LIVRO he printing and typesetting Industry. Lorem Ipsum has been the industry's standard dummy text ever since th</p>
            <p class="Categoria">Categoria</p>
            <p class="Preço">R$50,00</p>
            <a href="Detalhes.html">
                <button class="Detalhes">Ver detalhes</button> 
            </a>
            <a href="Editar.html">
                <button class="Editar">Editar</button>
            </a>
            <a href="Página-Inicial.html">
                <button class="Excluir">Excluir</button>
            </a>
        </div>

        
        <div class="Caixa-5">
            <p class="Titulo-L">Nome do livro</p>
            <p class="Descrição">Lorem Ipsum is DESCRIÇÃO DO LIVRO he printing and typesetting Industry. Lorem Ipsum has been the industry's standard dummy text ever since th</p>
            <p class="Categoria">Categoria</p>
            <p class="Preço">R$50,00</p>
            <a href="Detalhes.html">
                <button class="Detalhes">Ver detalhes</button> 
            </a>
            <a href="Editar.html">
                <button class="Editar">Editar</button>
            </a>
            <a href="Página-Inicial.html">
                <button class="Excluir">Excluir</button>
            </a>
        </div>

        <div class="Caixa-6">
            <p class="Titulo-L">Nome do livro</p>
            <p class="Descrição">Lorem Ipsum is DESCRIÇÃO DO LIVRO he printing and typesetting Industry. Lorem Ipsum has been the industry's standard dummy text ever since th</p>
            <p class="Categoria">Categoria</p>
            <p class="Preço">R$50,00</p>
            <a href="Detalhes.html">
                <button class="Detalhes">Ver detalhes</button> 
            </a>
            <a href="Editar.html">
                <button class="Editar">Editar</button>
            </a>
            <a href="Página-Inicial.html">
                <button class="Excluir">Excluir</button>
            </a>
        </div>
    </main>
   

    
    <footer>
        <hr class="Barra-2">
        <p class="Texto-Inferior">RODAPÉ</p>
    </footer>
</body>
</html>